<a href="https://colab.research.google.com/github/callezenwaka/machine-learning/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Fundamentals for Machine Learning

## Types of Variables

In [3]:
# Intergar variable
x = 5;
print(x);
print(type(x));

5
<class 'int'>

In [2]:
# String variable
x = "hello";
print(x);
print(type(x));

hello
<class 'str'>

In [4]:
# Int variable
x = 5;
print(x, type(x));

5 <class 'int'>

In [5]:
# float variable
x = 5.0;
print(x, type(x));

5.0 <class 'float'>

In [6]:
# text variable
x = "5";
print(x, type(x));

5 <class 'str'>

In [1]:
# boolean variable
x = True;
print(x, type(x));

True <class 'bool'>

## Operations with Variables

In [3]:
# manipulating int variables
a = 1;
b = 2;
c = a + b;
print(c);

3

In [4]:
# manipulating string variables
a = "Hello";
b = "world";
c = a + ' ' + b;
print(c);

Hello world

## List Variable

Ordered and mutable

In [5]:
# create a list
x = [3, "hello", 1.2];
print(x, type(x));

[3, 'hello', 1.2] <class 'list'>

In [10]:
# length of a list
print(len(x));

3

In [11]:
# add item to a list
x.append(7);
print(x);
print(len(x));

[3, 'hello', 1.2, 7]
4

In [12]:
# replace item in a list
x[1] = "world";
print(x);

[3, 'world', 1.2, 7]

In [14]:
# operations with list
y = [2.4, "hello"];
z = x + y;
print(z);

[3, 'world', 1.2, 7, 2.4, 'hello']

In [15]:
# indexing into a list
x = [3, "hello", 1.2];
print("x[0]: ", x[0]);
print("x[1]: ", x[1]);
print("x[-1]: ", x[-1]); # last item in the list
print("x[-2]: ", x[-2]); # second item in the list

x[0]:  3
x[1]:  hello
x[-1]:  1.2
x[-2]:  hello

In [16]:
# slicing a list
print("x[:]: ", x[:]); # all indices
print("x[1:]: ", x[1:]); # index one to the end
print("x[1:2]: ", x[1:2]); # index 1 to 2 (excluding 2)
print("x[:-1]: ", x[:-1]); # index 0 to the last (excluding the last index)

x[:]:  [3, 'hello', 1.2]
x[1:]:  ['hello', 1.2]
x[1:2]:  ['hello']
x[:-1]:  [3, 'hello']

# Tuples

Ordered and immutable

In [1]:
# create a tuple
x = (3.0, "hello");
print(x, type(x));

(3.0, 'hello') <class 'tuple'>

In [2]:
# adding value to a tuple
x = x + (5.5, 4);
print(x, type(x));

(3.0, 'hello', 5.5, 4) <class 'tuple'>

In [ ]:
# attempt tuple modification
x[0] = 1.2;

# Dictionary

Unordered and mutable

In [5]:
# create a dictionary
person = {'name': 'Callis', 'age': 20};
print(person, type(person));
print('Name: ', person['name']);
print('Age: ', person['age']);

{'name': 'Callis', 'age': 20} <class 'dict'>
Name:  Callis
Age:  20

In [9]:
# change the value of a dictionary key
person['age'] = 25;
print(person);
print('Age: ', person['age']);

{'name': 'Callis', 'age': 25, 'height': 1.7}
Age:  25

In [11]:
# add new key-value pair
person['height'] = 1.7;
print(person);
print('Height: ', person['height']);

{'name': 'Callis', 'age': 25, 'height': 1.7}
Height:  1.7

In [13]:
# length of a dictionary
print('Lenght: ', len(person));

Lenght:  3

# If Statement

In [15]:
# if statement
x = 4;
if x < 1:
  score = 'low';
elif x <= 4: #elif = else if
  score = 'medium';
else:
  score = 'high';
print('Score: ', score);

Score:  medium

In [16]:
# if statement with a boolean
x = True;
if x:
  print('It worked');

It worked

# Loops

For loops

In [20]:
# for loop
veggies = ["carrots", "broccoli", "beans"];
for veggie in veggies:
  print(veggie);

carrots
broccoli
beans

In [22]:
# break out of for loop with 'break' keyword
veggies = ["carrots", "broccoli", "beans"];
for veggie in veggies:
  if veggie == "broccoli":
    break;
  print(veggie);

carrots

In [23]:
# skip element in for loop with 'continue' keyword
veggies = ["carrots", "broccoli", "beans"];
for veggie in veggies:
  if veggie == "broccoli":
    continue;
  print(veggie);

carrots
beans

While loops

In [24]:
# while loop
x = 3;
while x > 0:
  x -= 1 # same as x = x - 1
  print(x);

2
1
0

# Functions

In [26]:
# define a function with single parameter
def add_two(x):
  """Increase x by 2."""
  x += 2;
  return x;

In [27]:
# call add_two function
score = 0;
new_score = add_two(x=score);
print(new_score);

2

In [28]:
# define a function with many parameters
def join_name(first_name, last_name):
  """Combine first and last name."""
  joined_name = first_name + " " + last_name;
  return joined_name;

In [30]:
# call join_name function
first_name = "Callis";
last_name = "Eze";
full_name = join_name(first_name=first_name, last_name=last_name);
print("Full name: ", full_name);

Full name:  Callis Eze

Using *args and **kwargs

In [31]:
# create a function
def test(*args, **kwargs):
  x = args[0];
  y = kwargs.get("y");
  print(f"x: {x}, y: {y}")

In [32]:
# call test function
test(5, y=2);

x: 5, y: 2

# Classes

Magic Functions: \_\_init\_\_, \_\_str\_\_, \_\_len\_\_, \_\_iter\_\_, \_\_getitem\_\_, etc.

In [33]:
# creating the class
class Pet(object):
  """Class object for a pet."""

  def __init__(self, species, name):
    """Initialize a Pet."""
    self.species = species;
    self.name = name;

In [34]:
# create an instance of a class
my_dog = Pet(species="dog", name="Scooby");
print("My dog: ", my_dog);
print("My dog name: ", my_dog.name);

My dog:  <__main__.Pet object at 0x7fbf6a8a8410>
My dog name:  Scooby

In [35]:
# create class with __str__ magic function
class Pet(object):
  """Class object for a Pet."""

  def __init__(self, species, name):
    self.species = species;
    self.name = name;

  def __str__(self):
    """Outpuyt when printing an instance of a Pet."""
    return f"{self.species} named {self.name}.";

In [38]:
# create an instance of a class
my_dog = Pet(species="dog", name="Scooby");
print("My dog:", my_dog);
print("My dog name:", my_dog.name);

My dog: dog named Scooby.
My dog name: Scooby

Object functions

In [39]:
# creating a class with object
class Pet(object):
  """Class object for a Pet."""

  def __init__(self, species, name):
    """Initialize a Pet."""
    self.species = species;
    self.name = name;

  def __str__(self):
    """Output when printing an instance of a Pet."""
    return f"{self.species} name {self.name}."

  def change_name(self, new_name):
    """Change the name of your Pet."""
    self.name = new_name;

In [40]:
# creating an instance of a class
my_dog = Pet(species="dog", name="Scooby");
print("My dog:", my_dog);
print("My dog name:", my_dog.name);

My dog: dog name Scooby.
My dog name: Scooby

In [41]:
# using a class's function
my_dog.change_name(new_name="Scrappy");
print("My dog:", my_dog);
print("My dog name:", my_dog.name);

My dog: dog name Scrappy.
My dog name: Scrappy

Inheritance

In [42]:
# inherit Pet parent class
class Dog(Pet):
  """Initialize child class Dog."""
  
  def __init__(self, species, name, breed):
    """Initialize a child class Dog."""
    super().__init__("dog", name);
    self.breed = breed;

  def __str__(self):
    return f"{self.breed} named {self.name}."

In [44]:
# create instance of Dog
scooby = Dog(species="dog", breed="Great Dane", name="Scooby");
print(scooby);

Great Dane named Scooby.

In [46]:
# call parent function from child class
scooby.change_name("Scooby Doo");
print(scooby);

Great Dane named Scooby Doo.

Methods

In [54]:
# creating classes with @classmethod
class Dog(Pet):
  """Initialize a child class Dog from parent class Pet."""

  def __init__(self, name, breed):
    """Initialize a child class Dog."""
    super().__init__(species="dog", name=name);
    self.breed = breed;

  def __str__(self):
    return f"{self.breed} named {self.name}.";

  @classmethod
  def from_dict(cls, d):
    return cls(name=d["name"], breed=d["breed"]);

  @staticmethod
  def is_cute(breed):
    return True;

In [48]:
# create instance of Dog class
d = {"name": "Cassie", "breed": "Border Collie"};
cassie = Dog.from_dict(d=d);
print(cassie);

Border Collie named Cassie.

In [56]:
# static method
cute_dog = Dog.is_cute(breed="Border Collie");
print(cute_dog);

True

# Decorators

In [58]:
# basic operations
def operations(x):
  """Basic operations."""
  x += 1;
  return x;

In [60]:
# call operations function
output = operations(x=1);
print("Output: ", output)

Output:  2

In [62]:
# increment pre and post execution of basic operations
def operations(x):
  """Basic pre and post execution increment of operations."""
  x += 1;
  x += 1;
  x += 1;
  return x;

In [63]:
# call operations function
output = operations(x=1);
print("Output: ", output)

Output:  4

Create a decorator

In [64]:
# create a decorator
def add(func):
  """Initialize decorator function"""
  def wrapper(*args, **kwargs):
    """Wrapper function for @add"""
    x = kwargs.pop('x'); # use .get() if not mutating args x
    x += 1; # executes before function func
    x = func(*args, **kwargs, x=x);
    x += 1; # executes after function func
    return x;
  return wrapper;

In [65]:
# use wrapper on operations functions
@add
def operations(x):
  """Basic operations."""
  x += 1;
  return x;

In [66]:
# call operations function
output = operations(x=1);
print("Output: ", output)

Output:  4

In [67]:
# debug operations function execution
operations.__name__, operations.__doc__

('wrapper', 'Wrapper function for @add')

In [68]:
# use functools.wraps to execute main function rather than wrapper function
from functools import wraps

In [71]:
# create decorator
def add(func):
  """Initialize decorator function"""
  @wraps(func)
  def wrap(*args, **kwargs):
    """Wrapper function for @add."""
    x = kwargs.pop('x');
    x += 1;
    x = func(*args, **kwargs, x=x);
    x += 1;
    return x;
  return wrap;

In [72]:
# use wrapper on operations functions
@add
def operations(x):
  """Basic operations."""
  x += 1;
  return x;

In [73]:
# call operations function
output = operations(x=1);
print("Output: ", output)

Output:  4

In [74]:
operations.__name__, operations.__doc__

('operations', 'Basic operations.')

Callbacks

In [86]:
# create a callback class
class x_tracker(object):
  """Initialize x_tracker callback."""
  
  def __init__(self, x):
    self.history = [];

  def at_start(self, x):
    self.history.append(x);
  
  def at_end(self, x):
    self.history.append(x);

In [93]:
# using callbacks
def operations(x, callbacks=[]):
  """Basic operations."""
  for callback in callbacks:
    callback.at_start(x);
  x += 1;
  for callback in callbacks:
    callback.at_end(x);
  return x;

In [94]:
# use callback
x = 1;
tracker = x_tracker(x=x);
operations(x=x, callbacks=[tracker]);

<__main__.x_tracker object at 0x7fbf6a804b90>
<__main__.x_tracker object at 0x7fbf6a804b90>

In [92]:
# show output
tracker.history

[1, 2]

Putting it together

In [111]:
# using callbacks within decorators
from functools import  wraps

In [112]:
# create a decorator
def add(func):
  """Initialize add function."""
  @wraps(func)
  def wrap(*args, **kwargs):
    """Wrapper function for @add."""
    x = kwargs.pop('x')
    x += 1; # executes before function func
    x = func(*args, **kwargs, x=x)
    # post func actions goes here
    return x;
  return wrap;

In [113]:
# create callback class
class x_tracker(object):
  """Initialize x_tracker class."""
  
  def __init__(self, x):
    self.history = [x];

  def at_start(self, x):
    self.history.append(x);

  def at_end(self, x):
    self.history.append(x);

In [114]:
# main function
@add
def operations(x, callbacks=[]):
  """Basic operations."""
  for callback in callbacks:
    callback.at_start(x)
  x += 1
  for callback in callbacks:
    callback.at_end(x)
  return x

In [117]:
x = 1
tracker = x_tracker(x=x)
operations(x=x, callbacks=[tracker])

3

In [118]:
tracker.history

[1, 2, 3]